*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    color: #fff;
    overflow: hidden;
}
section{
    position: relative;
    background: url("https://images.unsplash.com/photo-1601136861663-7fe5a0b46235?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8MHwwfG1hZ2VudGF8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center center;
}
.form-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform:;
   translate(-50%,-50%):;
   -webkit-transform: translate(-50%,-50%):;
   -moz-transform: translate(-50%,-50%):;
   -ms-transform: translate(-50%,-50%):;
   -o-transform: translate(-50%,-50%):;
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
   width: 21em;
   padding: 2em 2em;
   border-radius: 0.8em;
   -webkit-border-radius: 0.8em;
   -moz-border-radius: 0.8em;
   -ms-border-radius: 0.8em;
   -o-border-radius: 0.8em;
   box-shadow: 0.5em 0.5em 5em #000;
   -webkit-transform: translate(-50%,-50%);
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
.control input{
    width: 100%;
    padding: 0.7em;
    display: block;
    color: #222;
    margin: 1em 0;
    border: none;
    outline: none;
}
.control input[type=submit]{
    background: crimson;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: .7;
    transition: .3s ease;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.control input[type=submit]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    text-transform: capitalize;
    transition: .2s ease;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.link a:hover{
    opacity: 1;
}